node_modules
.pnpm-store
.pnpm-meta
.turbo
.next
.cache
dist
build
out
coverage
*.lock
pnpm-lock.yaml
package-lock.json
yarn.lock
.git
.github
docker/data
docker/ffmpeg-bin
docker/prisma-engines/*.gz
*.log
.env*
!.env.example
public/uploads
